body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.column {
    border: 1px solid #ccc;
    width: 200px;
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-container {
    min-height: 100px;
}

.task {
    background-color: #e3f2fd;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #90caf9;
    border-radius: 5px;
    cursor: move;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #42a5f5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #1e88e5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #1565c0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
}

h1 {
    margin-top: 20px;
    padding: 20px;
    background-color: #42a5f5;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
