body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.column {
    border: 1px solid #ccc;
    width: 200px;
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-container {
    min-height: 100px;
}

.task {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: move;
}
